NODE_ENV=development
PORT=3000
FRONTEND_URL="http://localhost:3001"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/library_db?schema=public"
JWT_SECRET="doi-chuoi-nay-thanh-chuoi-bi-mat-du-dai"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="doi-chuoi-nay-thanh-chuoi-bi-mat-khac-refresh"
JWT_REFRESH_EXPIRES_IN="7d"
REDIS_HOST=localhost
REDIS_PORT=6379
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
